@using WebApp.Models;
@using BiskaUtil;
@model FmTasinirKontrolDokumu
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    @using (Html.BeginForm("Index", "YevmiyeTasinirKontrolDokumu", FormMethod.Post, new { id = "frmYevmiyeTasinirKontrolDokumu" }))
    {
        <div class="col-md-12">

            <div class="panel panel-danger" id="EkHbPanel">
                <div class="panel-heading padding-0">
                    <h3 class="panel-title"><i class="fa fa-list-alt"></i> Taşınır Kontrol Dökümü</h3>
                    <ul class="panel-controls">
                        <li>
                            <span>Yevmiye Yılı:</span>
                            <span class="label label-primary" style="padding:1px;padding-left:3px;padding-right:3px;">
                                @Html.DropDownList("Yil", null, new { @class = "form-control", onchange = "$('#frmYevmiyeTasinirKontrolDokumu').submit();", style = "color:black;min-width:220px;height:24px;" })
                            </span>
                        </li>
                        @if (Model.Data.Any())
                        {
                            <li><span class="label label-success" style="cursor:pointer;" onclick="window.location.href='@Url.Action("Index", "YevmiyeTasinirKontrolDokumu", new { Yil = Model.Yil, export = true })'"> <img src="/Content/img/Excel-Icon.png" width="18" height="17"> Excel Olarak İndir</span></li>
                        }
                    </ul>
                </div>
                <div class="panel-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th width="70">Sıra No</th>
                                <th class="sirala sorting" field="BirimAdi">Harcama Birimi</th>
                                <th width="120" class="sirala sorting" field="HesapKod">Hesap Kodu</th>
                                <th class="sirala sorting" field="HesapAdi">Hesap Adı</th>
                                <th width="130" class="sirala sorting" field="Borç" style="text-align:right;">Borç Toplam</th>
                                <th width="130" class="sirala sorting" field="Alacak" style="text-align:right;">Alacak Toplam</th>
                                <th width="130" class="sirala sorting" field="Kalan" style="text-align:right;">Kalan Toplam</th>
                            </tr>
                            <tr class="filtrele">
                                <th></th>
                                <th>
                                    @Html.DropDownList("YevmiyeHarcamaBirimID", null, new { @class = "form-control" })
                                </th>
                                <th>
                                    <input name="HesapKod" type="text" value="@Model.HesapKod" class="form-control" />
                                </th>
                                <th>
                                    <input name="HesapAdi" type="text" value="@Model.HesapAdi" class="form-control" />
                                </th>
                                <th>

                                </th>
                                <th>

                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int RowIndex = 0;
                                foreach (var item in Model.Data)
                                {
                                    RowIndex++;
                                    <tr>
                                        <td>
                                            @RowIndex
                                        </td>
                                        <td>
                                            @item.VergiKimlikNo -  @item.BirimAdi
                                        </td>
                                        <td>
                                            @item.HesapKod
                                        </td>
                                        <td>
                                            @item.HesapAdi
                                        </td>
                                        <td style="text-align:right;">
                                            @item.Borc.ToString("n2") TL
                                        </td>
                                        <td style="text-align:right;">
                                            @item.Alacak.ToString("n2") TL
                                        </td>
                                        <td style="text-align:right;">
                                            @item.Kalan.ToString("n2") TL
                                        </td>

                                    </tr>
                                }
                                <tr class="info">
                                    <td colspan="5" style="text-align:right;font-weight:bold;">@Model.BorcToplam.ToString("n2") TL</td>
                                    <td style="text-align:right;font-weight:bold;">@Model.AlacakToplam.ToString("n2") TL</td>
                                    <td style="text-align:right;font-weight:bold;">@Model.KalanToplam.ToString("n2") TL</td>
                                </tr>

                            }

                        </tbody>
                    </table>
                    @Model.ToPagerString()
                </div>
            </div>
        </div>
    }
</div>
