@using WebApp.Models;
@using BiskaUtil;
@model FmYevmiyeEkHbToplamlari
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    @using (Html.BeginForm("Index", "YevmiyeEmekliKesenekToplamlari", FormMethod.Post, new { id = "frmYevmiyeEmekliKesenekToplamlari" }))
    {
        <div class="col-md-12">

            <div class="panel panel-danger" id="EkHbPanel">
                <div class="panel-heading padding-0">
                    <h3 class="panel-title"><i class="fa fa-list-alt"></i> Emekli Kesenek Harcama Birimi Toplamları</h3>
                    <ul class="panel-controls">
                        <li>
                            <span>Yevmiye Yılı:</span>
                            <span class="label label-primary" style="padding:1px;padding-left:3px;padding-right:3px;">
                                @Html.DropDownList("Yil", null, new { @class = "form-control", onchange = "$('#frmYevmiyeEmekliKesenekToplamlari').submit();", style = "color:black;min-width:220px;height:24px;" })
                            </span>
                        </li>
                        @if (Model.Data.Any())
                        {
                            <li><span class="label label-success" style="cursor:pointer;" onclick="window.location.href='@Url.Action("Index", "YevmiyeEmekliKesenekToplamlari", new { Yil = Model.Yil, export = true })'"> <img src="/Content/img/Excel-Icon.png" width="18" height="17"> Excel Olarak İndir</span></li>
                        }
                    </ul>
                </div>
                <div class="panel-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th width="70">Sıra No</th>
                                <th class="sirala sorting" field="BirimAdi">Harcama Birimi</th>
                                <th class="sirala sorting" field="SaymanlikKod">Saymanlık Kodu</th>
                                <th width="160" class="sirala sorting" field="Borc" style="text-align:right;">Yevmiye Borç</th>
                                <th width="160" class="sirala sorting" field="Alacak" style="text-align:right;">Yevmiye Alacak</th>
                                <th width="160" style="text-align:right;">Yevmiye Kalan</th>
                                <th width="160" class="sirala sorting" field="KayitToplam" style="text-align:right;">Hesap Kayıt Edilen</th>
                                <th width="160" style="text-align:right;">Hesap Kalan Net</th>
                                <th width="40"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int RowIndex = 0;
                                foreach (var item in Model.Data)
                                {
                                    RowIndex++;
                                    <tr>
                                        <td>
                                            @RowIndex
                                        </td>
                                        <td>
                                            @item.VergiKimlikNo - @item.BirimAdi
                                        </td>
                                        <td>
                                            @item.SaymanlikKod
                                        </td>
                                        <td style="text-align:right;">
                                            @item.Borc.ToString("n2") TL
                                        </td>
                                        <td style="text-align:right;">
                                            @item.Alacak.ToString("n2") TL
                                        </td>
                                        <td style="text-align:right;">@item.Kalan.ToString("n2") TL</td>
                                        <td style="text-align:right;">@item.KayitToplam.ToString("n2") TL</td>
                                        <td style="text-align:right;">@item.KalanTutar.ToString("n2") TL</td>
                                        <td style="padding-left:10px;">
                                            <a href="javascript:void(0)" onclick="TutarEkle(@Model.Yil,@item.YevmiyeHarcamaBirimID)"><i class="fa fa-edit fa-lg tooltips" data-style="blue" data-original-title="Tutar Düzelt"></i></a>
                                        </td>
                                    </tr>
                                }
                                <tr class="info">

                                    <td colspan="4" style="text-align:right;font-weight:bold;">
                                        Genel Toplam: @Model.Data.Sum(s => s.Borc).ToString("n2") TL
                                    </td>
                                    <td style="text-align:right;font-weight:bold;">
                                        @Model.Data.Sum(s => s.Alacak).ToString("n2") TL
                                    </td>
                                    <td style="text-align:right;font-weight:bold;">@Model.Data.Sum(s => s.Kalan).ToString("n2") TL</td>
                                    <td style="text-align:right;font-weight:bold;">@Model.Data.Sum(s => s.KayitToplam).ToString("n2") TL</td>
                                    <td style="text-align:right;font-weight:bold;">@Model.Data.Sum(s => s.KalanTutar).ToString("n2") TL</td>
                                    <td></td>
                                </tr>

                            }

                        </tbody>
                    </table>
                    @Model.ToSortSring()
                </div>
            </div>
        </div>
    }
</div>
<style>
    .btnleft {
        float: left;
    }
</style>

<script>
    function TutarEkle(Yil, YevmiyeHarcamaBirimID) {
          var _panel = $('#EkHbPanel');
        _pRefresh(_panel, false);
        $.ajax({
            url: '@Url.Action("TutarEkle", "YevmiyeEmekliKesenekToplamlari")',
            data: { Yil, YevmiyeHarcamaBirimID },
            async: false,
            success: function (result) {
                _pRefresh(_panel, false);
                var btbxxFS = bootbox.dialog({
                    message: result,
                    title: "<i class='fa fa-user-o fa-lg'></i> Emekli Kesenek Birim Tutar Ekleme İşlemi",
                    buttons: {
                        info: {
                            label: 'Kayıtları Temizle',
                            className: "btn-info btnleft",
                            callback: function () {
                                $('#frmTutarKayit').find('input[name=Tutar]').each(function (inx,itmx) {
                                    $(itmx).val("");
                                });
                                return false;
                            }
                        },
                        success: {
                            label: 'Kaydet',
                            className: "btn-success",
                            callback: function (event) {
                                var pnlx = $(btbxxFS).find('.modal-dialog').first();
                                _pRefresh(pnlx, false);
                                $('#frmTutarKayit').ajaxForm({
                                    success: function (result) {
                                        if (result.IsSuccess) {
                                            toastr["success"](result.Messages[0], result.Title);
                                            var _clsBtn = $('.modal-header').find('button').first();
                                            $(_clsBtn).click();
                                            setTimeout($('#frmYevmiyeEmekliKesenekToplamlari').submit(), 200);
                                        }
                                        else {
                                            getMsg(result);
                                            return false;
                                        }
                                        _pRefresh(pnlx, true);

                                    },
                                    complete: function (cmp) {
                                        _pRefresh(pnlx, true);
                                    },
                                    error: function (err) {
                                        _pRefresh(pnlx, true);
                                    }

                                }).submit();

                                return false;
                            }
                        },
                        danger: {
                            label: 'Kapat',
                            className: "btn-primary",
                            callback: function () {
                            }
                        }
                    }
                });
            },
            error: function (err) {
                _pRefresh(_panel, true);
                alert(err.responseText);
            }
        });
    }
</script>
