@using Database
@model  Yevmiyeler1003AMuhtasarKayitlari
@{
    Layout = null;
}
@using (Ajax.BeginForm("TutarEkle", "Yevmiye1003AMuhatasarDokumu", null, new AjaxOptions() { HttpMethod = "POST" }, new { enctype = "multipart/form-data", id = "frmTutarKayit", @class = "form-horizontal" }))
{
    @Html.Hidden("Yil", Model.Yil)
    @Html.Hidden("AyID", Model.AyID)
    @Html.Hidden("VergiKodu", Model.VergiKodu)
    <div class="col-md-12" style="overflow-x:auto; max-height:600px;">
        <div class="widget widget-default" style="border-top:1px solid;border-top-color:lightgray; margin-bottom:8px;padding:6px 10px;min-height:20px;">
            <table style="width:100%;">
                <tbody>
                    <tr>
                        <td style="padding-left:10px;text-align:left;">
                            <table style="width:100%;">
                                <tbody>
                                    <tr>
                                        <td width="140">Vergi Kodu</td>
                                        <td width="10">:</td>
                                        <td class="form-group">
                                            @Model.VergiKodu
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Sks Vergi Tutarı</td>
                                        <td>:</td>
                                        <td class="form-group">
                                            @Html.TextBox("SksVergiTutar", Model.SksVergiTutar, new { @class = "form-control", autocomplete = "off" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>İmid Vergi Tutarı</td>
                                        <td>:</td>
                                        <td class="form-group">
                                            @Html.TextBox("ImidVergiTutar", Model.ImidVergiTutar, new { @class = "form-control", autocomplete = "off" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Sks Matrah Tutarı</td>
                                        <td>:</td>
                                        <td class="form-group">
                                            @Html.TextBox("SksMatrahTutar", Model.SksMatrahTutar, new { @class = "form-control", autocomplete = "off" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>İmid Matrah Tutarı</td>
                                        <td>:</td>
                                        <td class="form-group">
                                            @Html.TextBox("ImidMatrahTutar", Model.ImidMatrahTutar, new { @class = "form-control", autocomplete = "off" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Genel Matrah Tutarı</td>
                                        <td>:</td>
                                        <td class="form-group">
                                            @Html.TextBox("GenelMatrahTutar", Model.GenelMatrahTutar, new { @class = "form-control", autocomplete = "off" })
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
}

