@using Database;
@using WebApp.Models;
@using BiskaUtil;
@model YevmiyelerProjeBankaHesapNumaralari
@{
    var MmMessage = ViewBag.MmMessage as MmMessage;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <form method="post" class="form-horizontal" role="form">
        <input type="text" style="display:none;" id="ProjeBankaHesapNoID" name="ProjeBankaHesapNoID" value="@Model.ProjeBankaHesapNoID" />
        <div class="col-md-12 col-md-12 col-md-12">
            <div class="panel panel-default" id="pUnvanK">
                <div class="panel-heading padding-0">
                    <h3 class="panel-title"><i class="fa fa-pencil"></i>&nbsp;@(Model.ProjeBankaHesapNoID <= 0 ? "Yeni Proje Banka Hesap Numarası Tanımlama İşlemi" : "Proje Banka Hesap Numarası Düzeltme İşlemi") </h3>
                    <ul class="panel-controls">
                        <li><a href="@Url.Action("Kayit", Model.ProjeBankaHesapNoID)" class=""><span class="fa fa-refresh panel-refresh"></span></a></li>
                    </ul>
                </div>
                <div class="panel-body">
                    <div class="panel panel-default form-horizontal">
                        <div class="panel-body form-group-separated">
                            <div class="form-group">
                                <label class="col-md-3 col-xs-4 control-label">Hesap Numarası</label>
                                <div class="col-md-9 col-xs-8">
                                    <input type="text" name="HesapNo" id="HesapNo" maxlength="4" value="@Model.HesapNo" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 col-xs-4 control-label">Hesap Adı</label>
                                <div class="col-md-9 col-xs-8">
                                    <input type="text" name="HesapAdi" id="HesapAdi" maxlength="128" value="@Model.HesapAdi" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 col-xs-4 control-label">Proje Numarası</label>
                                <div class="col-md-9 col-xs-8">
                                    <input type="text" name="ProjeNo" id="ProjeNo" maxlength="128" value="@Model.ProjeNo" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 col-xs-4 control-label">Proje Adı</label>
                                <div class="col-md-9 col-xs-8">
                                    <input type="text" name="ProjeAdi" id="ProjeAdi" maxlength="256" value="@Model.ProjeAdi" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <a href="@Url.Action("Index")" class="btn btn-default"><i class="fa fa-reply">&nbsp</i>Geri Dön</a>
                    <button class="btn btn-primary pull-right"><i class="fa fa-save">&nbsp</i>Kaydet</button>
                </div>
            </div>
        </div>
    </form>
</div>
<script>

    $(function () {
        var model = '@Html.Raw(Json.Encode(MmMessage))';
        validateControl(model);
    });

</script>

