@using Database;
@using WebApp.Models;
@using BiskaUtil;
@model YevmiyelerHesapKodlari
@{
    var MmMessage = ViewBag.MmMessage as MmMessage;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <form method="post" class="form-horizontal" role="form">
        <input type="text" style="display:none;" id="YevmiyeHesapKodID" name="YevmiyeHesapKodID" value="@Model.YevmiyeHesapKodID" />
        <div class="col-md-12 col-md-12 col-md-12">
            <div class="panel panel-default" id="pUnvanK">
                <div class="panel-heading padding-0">
                    <h3 class="panel-title"><i class="fa fa-pencil"></i>&nbsp;@(Model.YevmiyeHesapKodID <= 0 ? "Yeni Hesap Kodu Eşleştirme İşlemi" : "Hesap Kodu Eşleştirmesini Düzeltme İşlemi") </h3>
                    <ul class="panel-controls">
                        <li><a href="@Url.Action("Kayit", Model.YevmiyeHesapKodID)" class=""><span class="fa fa-refresh panel-refresh"></span></a></li>
                    </ul>
                </div>
                <div class="panel-body">
                    <div class="panel panel-default form-horizontal">
                        <div class="panel-body form-group-separated">

                            <div class="form-group">
                                <label class="col-md-3 col-xs-4 control-label">Hesap Kodu Türü</label>
                                <div class="col-md-9 col-xs-8">
                                    @Html.DropDownList("YevmiyeHesapKodTurID", null, new { @class = "form-control", onchange = "HKoduChange(this);" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 col-xs-4 control-label">Hesap Kodu</label>
                                <div class="col-md-9 col-xs-8">
                                    <input type="text" name="HesapKod" id="HesapKod" maxlength="64" value="@Model.HesapKod" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 col-xs-4 control-label">Hesap Adı</label>
                                <div class="col-md-9 col-xs-8">
                                    <input type="text" name="HesapAdi" id="HesapAdi" maxlength="256" value="@Model.HesapAdi" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group HKvergiKodu @(Model.YevmiyeHesapKodTurID==HesapKoduTuru.SSKPrimHesapKodlari1003B?"":"hide")">
                                <label class="col-md-3 col-xs-4 control-label">Vergi Kodu</label>
                                <div class="col-md-9 col-xs-8">
                                    <input type="text" name="VergiKodu" id="VergiKodu" maxlength="8" value="@Model.VergiKodu" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group HKvergiOran @(Model.YevmiyeHesapKodTurID==HesapKoduTuru.KDVTevkifatHesapKodlari?"":"hide")">
                                <label class="col-md-3 col-xs-4 control-label">Tevkifat Oranı</label>
                                <div class="col-md-9 col-xs-8">
                                    <table>
                                        <tr>
                                            <td><input type="text" style="width:80px;" name="TevkifatOranBolunen" id="TevkifatOranBolunen" maxlength="3" value="@Model.TevkifatOranBolunen" placeholder="Bölünen Oran" class="form-control" /></td>
                                            <td width="10" style="text-align:center;">/</td>
                                            <td><input type="text" style="width:80px;" name="TevkifatOranBolen" id="TevkifatOranBolen" maxlength="3" value="@Model.TevkifatOranBolen" placeholder="Bölen Oran" class="form-control" /></td>
                                        </tr>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <a href="@Url.Action("Index")" class="btn btn-default"><i class="fa fa-reply">&nbsp</i>Geri Dön</a>
                    <button class="btn btn-primary pull-right"><i class="fa fa-save">&nbsp</i>Kaydet</button>
                </div>
            </div>
        </div>
    </form>
</div>
<script>

    $(function () {
        var model = '@Html.Raw(Json.Encode(MmMessage))'; 
        validateControl(model);
    });
    function HKoduChange(sndr) {
        var sndrVal = $(sndr).val();
        if (sndrVal == "@HesapKoduTuru.SSKPrimHesapKodlari1003B") {
            $('.HKvergiKodu').removeClass('hide');
        }
        else {
            $('.HKvergiKodu').addClass('hide');
        }
        if (sndrVal == "@HesapKoduTuru.KDVTevkifatHesapKodlari") {
            $('.HKvergiOran').removeClass('hide');
        }
        else {
            $('.HKvergiOran').addClass('hide');

        }

    }
</script>

