@using WebApp.Models
@using BiskaUtil
@using Database
@model Birimler
@{
    var MmMessage = ViewBag.MmMessage as MmMessage;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <form method="post" class="form-horizontal" role="form">
        <input type="text" style="display:none;" id="BirimID" name="BirimID" value="@Model.BirimID" />
        <div class="col-md-12 col-md-12 col-md-12">
            <div class="panel panel-default" id="bPanel">
                <div class="panel-heading padding-0">
                    <h3 class="panel-title"><i class="fa fa-pencil"></i>&nbsp; @(Model.BirimID <= 0 ? "Yeni Birim Tanımlama" : "Birim Güncelleme İşlemi")</h3>
                    <ul class="panel-controls">
                        <li><a href="@Url.Action("Kayit", Model.BirimID)" class=""><span class="fa fa-refresh panel-refresh"></span></a></li>
                    </ul>
                </div>
                <div class="panel-body">
                    <div class="panel panel-default form-horizontal">
                        <div class="panel-body form-group-separated">
                            <div class="form-group">
                                <label class="col-md-2 col-xs-2 control-label">Üst Birim</label>
                                <div class="col-md-10 col-xs-10">
                                    @Html.DropDownList("UstBirimID", null, new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 col-xs-2 control-label">Birim Adı</label>
                                <div class="col-md-10 col-xs-10">
                                    <input type="text" name="BirimAdi" id="BirimAdi" value="@Model.BirimAdi" class="form-control" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 col-xs-2 control-label">İşçi Veri Girişi Yapılabilir Mi?</label>
                                <div class="col-md-10 col-xs-10">
                                    <div class="make-switch" data-on-label="Evet" data-off-label="Hayır" data-on="success" data-off="danger">
                                        <input type="checkbox" value="true" name="IsVeriGirisiYapilabilir" class="toggle" onchange="if ($(this).prop('checked')) { $('.VgDetay').removeClass('hide'); } else { $('.VgDetay').addClass('hide'); }" @Model.IsVeriGirisiYapilabilir.ToChecked() />
                                    </div>
                                </div>
                            </div>
                            <div class="VgDetay @(Model.IsVeriGirisiYapilabilir?"":"hide")">
                                <div class="form-group">
                                    <label class="col-md-2 col-xs-2 control-label">Veri Giriş Tipi</label>
                                    <div class="col-md-10 col-xs-10">
                                        @Html.DropDownList("VeriGirisTipID", null, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 col-xs-2 control-label">Yeni Ünite Kodu</label>
                                    <div class="col-md-10 col-xs-10">
                                        <input type="text" name="YeniUniteKodu" id="YeniUniteKodu" value="@Model.YeniUniteKodu" maxlength="2" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 col-xs-2 control-label">Eski Ünite Kodu</label>
                                    <div class="col-md-10 col-xs-10">
                                        <input type="text" name="EskiUniteKodu" id="EskiUniteKodu" value="@Model.EskiUniteKodu" maxlength="2" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 col-xs-2 control-label">İşyeri Sıra Numarası</label>
                                    <div class="col-md-10 col-xs-10">
                                        <input type="text" name="IsyeriSiraNumarasi" id="IsyeriSiraNumarasi" value="@Model.IsyeriSiraNumarasi" maxlength="7" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 col-xs-2 control-label">İl Kodu</label>
                                    <div class="col-md-10 col-xs-10">
                                        <input type="text" name="IlKodu" id="IlKodu" value="@Model.IlKodu" maxlength="3" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 col-xs-2 control-label">Alt İşveren Numarası</label>
                                    <div class="col-md-10 col-xs-10">
                                        <input type="text" name="AltIsverenNumarasi" id="AltIsverenNumarasi" value="@Model.AltIsverenNumarasi" maxlength="3" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 col-xs-2 control-label">Ay Aşırı Hesaplama</label>
                                    <div class="col-md-10 col-xs-10">
                                        <div class="make-switch" data-on-label="Var" data-off-label="Yok" data-on="info" data-off="success">
                                            <input type="checkbox" onchange="if ($(this).prop('checked')) { $('.AAHesap').removeClass('hide'); } else { $('.AAHesap').addClass('hide'); }" value="true" name="IsAyAsiriHesaplama" class="toggle" @Model.IsAyAsiriHesaplama.ToChecked() />
                                        </div>
                                    </div>
                                </div>
                                <div class="AAHesap @(Model.IsAyAsiriHesaplama?"":"hide")">
                                    <div class="form-group">
                                        <label class="col-md-2 col-xs-2 control-label">Ay Başlangıç Gün</label>
                                        <div class="col-md-10 col-xs-10">
                                            <input type="text" name="AyBaslangicGun" id="AyBaslangicGun" value="@Model.AyBaslangicGun" maxlength="2" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 col-xs-2 control-label">Gelecek Ay Bitiş Gün</label>
                                        <div class="col-md-10 col-xs-10">
                                            <input type="text" name="GelecekAyBitisGun" id="GelecekAyBitisGun" value="@Model.GelecekAyBitisGun" maxlength="2" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 col-xs-2 control-label">Yevmiye Veri Girişi Yapılabilir Mi?</label>
                                <div class="col-md-10 col-xs-10">
                                    <div class="make-switch" data-on-label="Evet" data-off-label="Hayır" data-on="success" data-off="danger">
                                        <input type="checkbox" value="true" name="IsYevmiyeVeriGirisiYapilabilir" class="toggle" onchange="if ($(this).prop('checked')) { $('.YgDetay').removeClass('hide'); } else { $('.YgDetay').addClass('hide'); }" @Model.IsYevmiyeVeriGirisiYapilabilir.ToChecked() />
                                    </div>
                                </div>
                            </div>
                            <div class="YgDetay @(Model.IsYevmiyeVeriGirisiYapilabilir?"":"hide")">
                                <div class="form-group">
                                    <label class="col-md-2 col-xs-2 control-label">İşyeri Vergi Kimlik No</label>
                                    <div class="col-md-10 col-xs-10">
                                        <input type="text" name="VergiKimlikNo" id="VergiKimlikNo" value="@Model.VergiKimlikNo" maxlength="10" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 col-xs-2 control-label">1003B SSK İşyeri Mi?</label>
                                <div class="col-md-10 col-xs-10">
                                    <div class="make-switch" data-on-label="Evet" data-off-label="Hayır" data-on="success" data-off="danger">
                                        <input type="checkbox" value="true" name="Is1003BSskIsleri" class="toggle" onchange="if ($(this).prop('checked')) { $('.SgDetay').removeClass('hide'); } else { $('.SgDetay').addClass('hide'); }" @Model.Is1003BSskIsleri.ToChecked() />
                                    </div>
                                </div>
                            </div>
                            <div class="SgDetay @(Model.Is1003BSskIsleri==true?"":"hide")">
                                <div class="form-group">
                                    <label class="col-md-2 col-xs-2 control-label">1003B SSK İş Yeri Kodu</label>
                                    <div class="col-md-10 col-xs-10">
                                        <input type="text" name="SskIsYeriKodu" id="SskIsYeriKodu" value="@Model.SskIsYeriKodu"  class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 col-xs-2 control-label">Durum</label>
                                <div class="col-md-10 col-xs-10">
                                    <div class="make-switch" data-on-label="Aktif" data-off-label="Pasif" data-on="success" data-off="danger">
                                        <input type="checkbox" value="true" name="IsAktif" class="toggle" @Model.IsAktif.ToChecked() />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <a href="@Url.Action("Index")" class="btn btn-default"><i class="fa fa-reply">&nbsp</i>Geri Dön</a>
                    <button class="btn btn-primary pull-right"><i class="fa fa-save">&nbsp</i>Kaydet</button>
                </div>
            </div>
        </div>
    </form>
</div>
<script>

    $(function () {
        var model = '@Html.Raw(Json.Encode(MmMessage))';
        validateControl(model);
    });
</script>

