@using WebApp.Models;
@using BiskaUtil;
@model FmYevmiyeSendikaToplamlari
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    @using (Html.BeginForm("Index", "YevmiyeSendikaToplamlari", FormMethod.Post, new { id = "frmYevmiyeSendikaToplamlari" }))
    {
        <div class="col-md-12">

            <div class="panel panel-danger" id="EkHbPanel">
                <div class="panel-heading padding-0">
                    <h3 class="panel-title"><i class="fa fa-list-alt"></i> Sendika Toplam Bilgileri</h3>
                    <ul class="panel-controls">
                        <li>
                            <span>Yevmiye Yılı:</span>
                            <span class="label label-primary" style="padding:1px;padding-left:3px;padding-right:3px;">
                                @Html.DropDownList("Yil", null, new { @class = "form-control", onchange = "$('#frmYevmiyeSendikaToplamlari').submit();", style = "color:black;min-width:220px;" })
                            </span>
                        </li>
                    </ul>
                </div>
                <div class="panel-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th width="50">Sıra No</th>
                                <th width="200" class="sirala sorting" field="HesapKod">Hesap Kodu</th> 
                                <th class="sirala sorting" field="AdSoyad">Adı Soyadı</th>  
                                <th class="sirala sorting" field="Aciklama">Açıklama</th>
                                <th width="120" class="sirala sorting" field="Borc" style="text-align:right;">Borç</th>
                                <th width="120" class="sirala sorting" field="Alacak" style="text-align:right;">Alacak</th>
                                <th width="120" class="sirala sorting" field="Kalan" style="text-align:right;">Kalan</th>
                                <th width="40"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int RowIndex = 0;
                                foreach (var item in Model.Data)
                                {
                                    RowIndex++;
                                    <tr>
                                        <td>
                                            @RowIndex
                                        </td>
                                        <td>
                                            @item.HesapKod<br />@item.IBanNo
                                        </td> 
                                        <td>
                                            @item.VergiKimlikNo - @item.AdSoyad <br />@item.KisaAdi
                                        </td> 
                                        <td>
                                            @item.Aciklama
                                        </td>
                                        <td style="text-align:right;">
                                            @item.Borc.ToString("n2") TL
                                        </td>
                                        <td style="text-align:right;">
                                            @item.Alacak.ToString("n2") TL
                                        </td>
                                        <td style="text-align:right;">@item.Kalan.ToString("n2") TL</td>

                                    </tr>
                                }
                                <tr class="info">

                                    <td colspan="5" style="text-align:right;font-weight:bold;">
                                        Genel Toplam: @Model.Data.Sum(s => s.Borc).ToString("n2") TL
                                    </td>
                                    <td style="text-align:right;font-weight:bold;">
                                        @Model.Data.Sum(s => s.Alacak).ToString("n2") TL
                                    </td>
                                    <td style="text-align:right;font-weight:bold;">@Model.Data.Sum(s => s.Kalan).ToString("n2") TL</td>

                                </tr>

                            }

                        </tbody>
                    </table>
                    @Model.ToSortSring()
                </div>
            </div>
        </div>
    }
</div>
