@using WebApp.Models
@using BiskaUtil
@model FmVeriGiris
@{
    var IndexModel = (MIndexBilgi)ViewBag.IndexModel;
    var KayitYetkisi = Model.IsAktif && RoleNames.VeriGirisiKayitYetkisi.InRole();
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row">
    @using (Html.BeginForm("Index", "VeriGirisi", FormMethod.Post, new { id = "frmVeriGirisi" }))
    {
        <div class="col-md-12">

            @Html.Hidden("export", false)
            <!-- START SIMPLE DATATABLE -->
            <div class="panel panel-info @(Model.Expand ? "" : "panel-toggled")" id="pnlFltr">
                <input class="hide" name="Expand" value="@Model.Expand.ToString().ToLower()" id="Expand" />
                <div class="panel-heading padding-0">
                    <h3 class="panel-title">
                        <i class="glyphicon glyphicon-filter"></i> Filtre İşlemi
                    </h3>
                    <ul class="panel-controls">

                        <li><a href="javasctipr:void(0)" onclick="$('#Expand').val(($('#pnlFltr').hasClass('panel-toggled') ? 'true' :'false' )); " class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
                    </ul>
                </div>
                <div class="panel-body" style="padding-bottom:0px;">
                    <table class="table table-hover" style="table-layout:fixed;">
                        <tr>
                            <td>
                                <table style="width:100%;table-layout:fixed;">
                                    <tr>
                                        <td width="120">Süreç</td>
                                        <td>@Html.DropDownList("VASurecID", null, new { @class = "form-control", onchange = "$('#frmVeriGirisi').submit();" })</td>
                                    </tr>
                                </table>
                            </td>
                            <td style="padding-left:10px;">
                                <table style="width:100%;table-layout:fixed;">
                                    <tr>
                                        <td width="120">Birim</td>
                                        <td>@Html.DropDownList("BirimID", null, new { @class = "form-control", style = "padding:0px;", onchange = "$('#frmVeriGirisi').submit();" })</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table style="width:100%;table-layout:fixed;">
                                    <tr>
                                        <td width="120">Ay</td>
                                        <td>@Html.DropDownList("AyID", null, new { @class = "form-control", onchange = "$('#frmVeriGirisi').submit();" })</td>
                                    </tr>
                                </table>
                            </td>

                            <td style="padding-left:10px;">
                                <table style="width:100%;table-layout:fixed;">
                                    <tr>
                                        <td width="120">Aranacak Kelime</td>
                                        <td>
                                            <table style="width:100%;table-layout:fixed;">
                                                <tr>
                                                    <td><input name="Aranan" id="Aranan" type="text" onkeypress="if (event.which == 13) { $('#frmVeriGirisi').submit(); }" value="@Model.Aranan" class="form-control" /></td>
                                                    <td width="110px;"><a href="javascript:void(0);" onclick="$('#frmVeriGirisi').submit();" class="btn btn-info"><i class="glyphicon glyphicon-filter"> Filtrele</i></a></td>
                                                </tr>
                                            </table>
                                            @if (Model.Aranan.IsNullOrEmpty() == false)
                                            {
                                                <script>
                                                    $(function () {
                                                        SetCaretAtEnd(document.getElementById('Aranan'));
                                                    });

                                                </script>
                                            }
                                        </td>
                                    </tr>
                                </table>
                            </td>

                        </tr>

                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-12">

            <!-- START SIMPLE DATATABLE -->
            <div class="panel panel-info" id="pnlVTop">
                <div class="panel-heading padding-0">
                    <h3 class="panel-title">
                        <i class="fa fa-list-alt"></i> Genel Toplam Bilgileri
                    </h3>
                    <ul class="panel-controls">
                        @if (KayitYetkisi)
                        {
                            <li>
                                <span style="cursor:pointer;" onclick="VeriGirisi();" class="label label-primary">Yeni Veri Ekle</span>
                                <script>

                                function VeriGirisi(_VASurecleriBirimVerileriAylikToplamID) {
                                    var _anaPnl = $('#pnlVTop');
                                    _pRefresh(_anaPnl, false);
                                    $.ajax({
                                        url: '@Url.Action("GetVeriGirisi", "VeriGirisi")',
                                        data: { 'VASurecID': @Model.VASurecID, 'BirimID':@Model.BirimID, 'AyID':@Model.AyID, 'VASurecleriBirimVerileriAylikToplamID': _VASurecleriBirimVerileriAylikToplamID },
                                        type: 'POST',
                                        cache: false,
                                        success: function (result) {
                                            _pRefresh(_anaPnl, true);

                                            var btbxxFS = bootbox.dialog({
                                                message: result.page,
                                                title: "Muhtasar ve SSK Bildirim Toplamsal Veri Girişi işlemi",
                                                buttons: {
                                                    success: {
                                                        label: 'Kaydet',
                                                        className: "btn-primary",
                                                        callback: function (event) {
                                                            var pnlx = $(btbxxFS).find('.modal-dialog').first();
                                                            var saveOk = true;
                                                            if (saveOk) {
                                                                _pRefresh(_anaPnl, false);
                                                                _pRefresh(pnlx, false);
                                                                $('#VeriGirisiPostForm').ajaxForm({
                                                                    success: function (result) {
                                                                        _pRefresh(_anaPnl, true);
                                                                        _pRefresh(pnlx, true);
                                                                        getMsg(result.mMessage);
                                                                        if (result.mMessage.IsSuccess) {
                                                                            $('#VGDetay').html(result.page);
                                                                            var _clsBtn = $('.modal-header').find('button').first();
                                                                            $(_clsBtn).click();
                                                                        }
                                                                        else {
                                                                            return false;
                                                                        }

                                                                    },
                                                                    complete: function (cmp) {
                                                                        _pRefresh(pnlx, true);
                                                                    },
                                                                    error: function (err) {
                                                                        _pRefresh(pnlx, true);
                                                                    }

                                                                });
                                                                $('#VeriGirisiPostForm').submit();
                                                            }
                                                            return false;
                                                        }
                                                    },
                                                    danger: {
                                                        label: 'Kapat',
                                                        className: "btn-success",
                                                        callback: function () {
                                                        }
                                                    }
                                                }
                                            }); 
                                        },
                                        error: function (err) {
                                            _pRefresh(_anaPnl, true);
                                            alert(err.responseText);
                                        }
                                    });
                                }
                                function VGSilmeOnay(sndr, _VASurecleriBirimVerileriAylikToplamID) {
                                    var _AGI = $("#AG_" + _VASurecleriBirimVerileriAylikToplamID).html();
                                    var _GVM = $("#GVM_" + _VASurecleriBirimVerileriAylikToplamID).html();
                                    var _GVK = $("#GVK_" + _VASurecleriBirimVerileriAylikToplamID).html();
                                    var _PT = $("#PT_" + _VASurecleriBirimVerileriAylikToplamID).html();
                                    var _KT = $("#KT_" + _VASurecleriBirimVerileriAylikToplamID).html();
                                    var SoruHtml =
                                        "<table style='table-layout:fixed;width:100%;'>" +
                                        "<tr><td width='100' style='color:green'>AGİ Toplam</td><td style='padding-right:10px;'>" + _AGI + "</td></tr>" +
                                        "<tr><td style='color:green;'>GV Matrah</td><td style='padding-right:10px;'>" + _GVM + "</td></tr>" +
                                        "<tr><td style='color:green;'>GV Kesinti</td><td style='padding-right:10px;'>" + _GVK + "</td></tr>" +
                                        "<tr><td style='color:green;'>Prim Tutarı</td><td style='padding-right:10px;'>" + _PT + "</td></tr>" +
                                        "<tr><td style='color:green;'>Tarih</td><td style='padding-right:10px;'>" + _KT + "</td></tr>" +
                                        "<tr><td style='color:maroon;text-align:right;padding-right:10px;'><i class='fa fa-info fa-2x'></i></td><td style='padding-right:10px;color:maroon;'> Yukarıdaki bilgilere göre girilen verileri silmek istiyor musunuz?</td></tr>" +
                                        "</table>";
                                    bootbox.dialog({
                                        message: SoruHtml,
                                        title: "Toplamsal Veri Girişi Silme İşlemi",
                                        buttons: {
                                            success: {
                                                label: "Veriyi Sil",
                                                className: "btn-danger",
                                                callback: function () {
                                                    VGSil(sndr, _VASurecleriBirimVerileriAylikToplamID);
                                                }
                                            },
                                            danger: {
                                                label: "Vazgeç",
                                                className: "btn-success",
                                                callback: function () {
                                                }
                                            }
                                        }
                                    });
                                }
                                function VGSil(sndr, _VASurecleriBirimVerileriAylikToplamID) {
                                    $.ajax({
                                        url: '@Url.Action("VGSil", "VeriGirisi")',
                                        data: { VASurecID: @Model.VASurecID, AyID: @Model.AyID, BirimID: @Model.BirimID, VASurecleriBirimVerileriAylikToplamID: _VASurecleriBirimVerileriAylikToplamID},
                                        success: function (result) {
                                            toastr[result.success ? "success" : "error"](result.message, "Toplamsal Veri Girişi Silme İşlemi")
                                            if (result.success) {
                                                $(sndr).parents('tr').first().remove();
                                                setTimeout(function () { $('#frmVeriGirisi').submit(); }, 4000);

                                            }
                                        },
                                        error: function (err) {
                                            alert(err.responseText);
                                        }
                                    });
                                }
                                </script>
                            </li>
                        }
                    </ul>
                </div>
                <div class="panel-body" style="padding-bottom:0px;" id="VGDetay">
                    @Html.Raw(Model.ToplamsalVeriHtml)
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="panel panel-danger" id="pnlDetay">
                <div class="panel-heading padding-0">
                    <h3 class="panel-title"><i class="fa fa-file-text-o fa-lg"></i>&nbsp; Yüklenen Veri Listeleri</h3>
                    <ul class="panel-controls">
                        @if (KayitYetkisi)
                        {

                            <li>
                                <span class="label label-warning" style="cursor:pointer;" onclick="ExcelYukle()"> <img src="/Content/img/Excel-Icon.png" width="18" height="17"> Excel'den Veri Yükle</span>
                                <script>


                                    function ExcelYukle() {
                                        var _anaPnl = $('#pnlDetay');
                                        _pRefresh(_anaPnl, false);
                                        $.ajax({
                                            url: '@Url.Action("GetExcelYukle", "VeriGirisi")',
                                            data: { 'VASurecID': @Model.VASurecID, 'BirimID':@Model.BirimID, 'AyID':@Model.AyID},
                                            type: 'POST',
                                            cache: false,
                                            success: function (result) {

                                                _pRefresh(_anaPnl, true);

                                                var btbxxFS = bootbox.dialog({
                                                    message: result.page,
                                                    title: "Muhtasar ve SSK Bildirim Excel'den veri yükleme işlemi",
                                                    buttons: {
                                                        success: {
                                                            label: 'Yükle',
                                                            className: "btn-primary",
                                                            callback: function (event) {
                                                                var pnlx = $(btbxxFS).find('.modal-dialog').first();
                                                                var saveOk = true;
                                                                if (saveOk) {
                                                                    _pRefresh(pnlx, false);
                                                                    $('#ExcelYuklePostForm').ajaxForm({
                                                                        success: function (result) {
                                                                            _pRefresh(pnlx, true);
                                                                            getMsg(result);
                                                                            if (result.IsSuccess) {
                                                                                setTimeout(function () {
                                                                                    var _clsBtn = $('.modal-header').find('button').first();
                                                                                    $(_clsBtn).click();
                                                                                    $('#frmVeriGirisi').submit();
                                                                                }, 3400)
                                                                            }
                                                                            else {
                                                                                return false;
                                                                            }
                                                                        },
                                                                        complete: function (cmp) {
                                                                            _pRefresh(pnlx, true);
                                                                        },
                                                                        error: function (err) {
                                                                            _pRefresh(pnlx, true);
                                                                        }

                                                                    });
                                                                    $('#ExcelYuklePostForm').submit();
                                                                }
                                                                return false;
                                                            }
                                                        },
                                                        danger: {
                                                            label: 'Kapat',
                                                            className: "btn-success",
                                                            callback: function () {
                                                            }
                                                        }
                                                    }
                                                });


                                            },
                                            error: function (err) {
                                                _pRefresh(_anaPnl, true);
                                                alert(err.responseText);
                                            }
                                        });
                                    };

                                </script>

                            </li>
                            <li>
                                <span class="label label-danger" style="cursor:pointer;" onclick="SilmeOnay(this,@Model.VASurecID,@Model.AyID,@Model.BirimID)"><i class="fa fa-trash-o fa-lg "></i> Listelenen Kayıtları Sil</span>
                                <script>
                                    function SilmeOnay(sndr, VASurecID, AyID, BirimID)
                                    {
                                        var _SurecAdi = $("#VASurecID option:selected").html();
                                        var _AyAdi = $("#AyID option:selected").html();
                                        var _BirimAdi = $("#BirimID option:selected").html();
                                        var SoruHtml =
                                            "<table style='table-layout:fixed;width:100%;'>" +
                                            "<tr><td width='100' style='color:green'>Seçilen Süreç</td><td style='padding-right:10px;'>" + _SurecAdi + "</td></tr>" +
                                            "<tr><td style='color:green;'>Seçilen Ay</td><td style='padding-right:10px;'>" + _AyAdi + "</td></tr>" +
                                            "<tr><td style='color:green;'>Seçilen Birim</td><td style='padding-right:10px;'>" + _BirimAdi + "</td></tr>" +
                                            "<tr><td style='color:maroon;text-align:right;padding-right:10px;'><i class='fa fa-info fa-2x'></i></td><td style='padding-right:10px;color:maroon;'> Yukarıdaki bilgilere göre girilen verileri silmek istiyor musunuz?</td></tr>" +
                                            "</table>";
                                        bootbox.dialog({
                                            message: SoruHtml,
                                            title: "Veri Girişi Silme İşlemi",
                                            buttons: {
                                                success: {
                                                    label: "Verileri Sil",
                                                    className: "btn-danger",
                                                    callback: function () {
                                                        Sil(sndr, VASurecID, AyID, BirimID);
                                                    }
                                                },
                                                danger: {
                                                    label: "Vazgeç",
                                                    className: "btn-success",
                                                    callback: function () {
                                                    }
                                                }
                                            }
                                        });
                                    }
                                    function Sil(sndr, VASurecID, AyID, BirimID) {
                                        var _anaPnl = $('#pnlDetay');
                                        _pRefresh(_anaPnl, false);
                                        $.ajax({
                                            url: '@Url.Action("Sil", "VeriGirisi")',
                                            data: { VASurecID: VASurecID, AyID: AyID, BirimID: BirimID},
                                            success: function (result) {
                                                _pRefresh(_anaPnl, true);
                                                toastr[result.success ? "success" : "error"](result.message, "Veri Girişi Silme İşlemi")
                                                if (result.success) {
                                                    setTimeout(function () { $('#frmVeriGirisi').submit();}, 4000);

                                                }
                                            },
                                            error: function (err) {
                                                _pRefresh(_anaPnl, true);
                                                alert(err.responseText);
                                            }
                                        });
                                    }

                                </script>

                            </li>
                        }

                        <li><a href="javascript:void(0);" onclick="setTimeout(function(){window.location.href='@Url.Action("Index")';},600)" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                    </ul>
                </div>
                <div class="panel-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th width="75"></th>
                                <th class="sirala sorting" field="BirimAdi">Birim Adı</th>
                                <th>Ad Soyad</th>
                                <th>Meslek</th>
                                <th class="sirala sorting">Süreç</th>

                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.RowCount > 0)
                            {
                                int RowIndex = Model.StartRowIndex;
                                foreach (var item in Model.Data)
                                {
                                    var RwID = item.VASurecleriBirimVeriID;
                                    RowIndex++;
                                    <tr>
                                        <td>
                                            <table>
                                                <tr>
                                                    <td style="width:30px;">@RowIndex</td>
                                                    <td>
                                                        <ul class="panel-controls">
                                                            <li id="iShow_@RwID" onclick="ShowDetail(@item.VASurecleriBirimVeriID)">
                                                                <a href="javascript:void(0)"><span class="fa fa-angle-up"></span> </a>
                                                            </li>
                                                        </ul>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td>@item.BirimAdi <br /> @item.VeriGirisTipAdi</td>
                                        <td>@item.Ad @item.Soyad <br /> @item.TcKimlikNo</td>
                                        <td>@item.MeslekTurAdi</td>
                                        <td>@item.HizmetDonemYil <br /> @item.AyAdi</td>

                                    </tr>
                                    <tr class="cls-@item.VASurecleriBirimVeriID hide">
                                        <td id="cls-@item.VASurecleriBirimVeriID" colspan="10" style="padding: 1px 1px 2px 75px;">
                                            <div class="panel panel-primary" style="margin:0px;padding:0px;">
                                                <div class="panel-body" style="margin:0px;padding:0px;">
                                                    <div class="panel-body form-horizontal form-group-separated">
                                                        <div class="form-group">
                                                            <label class="col-md-2 col-xs-4 control-label">Belge Mahiyet Tipi</label>
                                                            <div class="col-md-10 col-xs-8">
                                                                @item.BelgeMahiyetTipKodu @item.BelgeMahiyetTipAdi
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="col-md-2 col-xs-4 control-label">Belge Türü</label>
                                                            <div class="col-md-10 col-xs-8">
                                                                @item.BelgeTurKodu @item.BelgeTurAdi
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-md-2 col-xs-4 control-label">Prim Yüzdesi</label>
                                                            <div class="col-md-10 col-xs-8">
                                                                % @item.PrimYuzdesi
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-md-2 col-xs-4 control-label">Düzenlemeye Esas Kanun No</label>
                                                            <div class="col-md-10 col-xs-8">
                                                                @item.DEsasKanunNo
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-md-2 col-xs-4 control-label">Yeni Ünite Kodu</label>
                                                            <div class="col-md-10 col-xs-8">
                                                                @item.YeniUniteKodu
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-md-2 col-xs-4 control-label">Eski Ünite Kodu</label>
                                                            <div class="col-md-10 col-xs-8">
                                                                @item.EskiUniteKodu
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-md-2 col-xs-4 control-label">İşyeri Sıra Numarası</label>
                                                            <div class="col-md-10 col-xs-8">
                                                                @item.IsyeriSiraNumarasi
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-md-2 col-xs-4 control-label">İl Kodu</label>
                                                            <div class="col-md-10 col-xs-8">
                                                                @item.IlKodu
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-md-2 col-xs-4 control-label">Alt İşveren Numarası</label>
                                                            <div class="col-md-10 col-xs-8">
                                                                @item.AltIsverenNumarasi
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-md-2 col-xs-4 control-label">Veri Giriş Tipi</label>
                                                            <div class="col-md-10 col-xs-8">
                                                                @item.VeriGirisTipAdi
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-md-2 col-xs-4 control-label">TC kimlik No</label>
                                                            <div class="col-md-10 col-xs-8">
                                                                @item.TcKimlikNo
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-md-2 col-xs-4 control-label"> Ad Soyad </label>
                                                            <div class="col-md-10 col-xs-8">
                                                                @item.Ad @item.Soyad
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-md-2 col-xs-4 control-label">Prim Ödeme Günü</label>
                                                            <div class="col-md-10 col-xs-8">
                                                                @item.PrimOdemeGun
                                                            </div>
                                                        </div>
                                                        @if (item.UzaktanCalismaGun.HasValue)
                                                        {
                                                            <div class="form-group">
                                                                <label class="col-md-2 col-xs-4 control-label">Uzaktan Çalışma Gün</label>
                                                                <div class="col-md-10 col-xs-8">
                                                                    @item.UzaktanCalismaGun
                                                                </div>
                                                            </div>
                                                        }
                                                        <div class="form-group">
                                                            <label class="col-md-2 col-xs-4 control-label">Hak Edilen Ücret</label>
                                                            <div class="col-md-10 col-xs-8">
                                                                @item.HakEdilenUcret.ToString("n2")
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-md-2 col-xs-4 control-label">Prim İkramiye ve Bu Niteliklerdeki İstikhak</label>
                                                            <div class="col-md-10 col-xs-8">
                                                                @item.PrimIkramiyeIstihkak.ToString("n2")
                                                            </div>
                                                        </div>
                                                        @if (item.IseGirisAy.HasValue)
                                                        {
                                                            <div class="form-group">
                                                                <label class="col-md-2 col-xs-4 control-label">İşe Giriş Gün</label>
                                                                <div class="col-md-10 col-xs-8">
                                                                    @item.IseGirisGunStr
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="col-md-2 col-xs-4 control-label">İşe Giriş AY</label>
                                                                <div class="col-md-10 col-xs-8">
                                                                    @item.IseGirisAyStr
                                                                </div>
                                                            </div>
                                                        }
                                                        @if (item.IstenCikisAy.HasValue)
                                                        {
                                                            <div class="form-group">
                                                                <label class="col-md-2 col-xs-4 control-label">İşten Çıkış Gün</label>
                                                                <div class="col-md-10 col-xs-8">
                                                                    @item.IstenCikisGunStr
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="col-md-2 col-xs-4 control-label">İşten Çıkış Ay</label>
                                                                <div class="col-md-10 col-xs-8">
                                                                    @item.IstenCikisAyStr
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="col-md-2 col-xs-4 control-label">İşten Çıkış Nedeni</label>
                                                                <div class="col-md-10 col-xs-8">
                                                                    @item.IstenCikisNedenKodu @item.IstenCikisNedenAdi
                                                                </div>
                                                            </div>
                                                        }
                                                        @if (item.EksikGunSayisi.HasValue)
                                                        {
                                                            <div class="form-group">
                                                                <label class="col-md-2 col-xs-4 control-label">Eksik Gün Sayısı</label>
                                                                <div class="col-md-10 col-xs-8">
                                                                    @item.EksikGunSayisi
                                                                </div>
                                                            </div>
                                                        }
                                                        @if (item.EksikGunNedenID.HasValue)
                                                        {
                                                            <div class="form-group">
                                                                <label class="col-md-2 col-xs-4 control-label">Eksik Gün Nedeni </label>
                                                                <div class="col-md-10 col-xs-8">
                                                                    @item.EksikGunNedenKodu @item.EksikGunNedenAdi
                                                                </div>
                                                            </div>
                                                        }
                                                        <div class="form-group">
                                                            <label class="col-md-2 col-xs-4 control-label">Meslek Türü</label>
                                                            <div class="col-md-10 col-xs-8">
                                                                @item.MeslekTurKodu @item.MeslekTurAdi
                                                            </div>
                                                        </div>
                                                        @if (item.IstirahatSurecindeCalismamistir.HasValue)
                                                        {
                                                            <div class="form-group">
                                                                <label class="col-md-2 col-xs-4 control-label">İstirahat Sürecinde Çalışmamıştır (E/H)</label>
                                                                <div class="col-md-10 col-xs-8">
                                                                    @(item.AsgariGecimIndirimi == 0 ? "Hayır" : "Evet")
                                                                </div>
                                                            </div>
                                                        }
                                                        <div class="form-group">
                                                            <label class="col-md-2 col-xs-4 control-label">Tahakkuk Nedeni</label>
                                                            <div class="col-md-10 col-xs-8">
                                                                @item.TahakkukNedeni
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="col-md-2 col-xs-4 control-label">Gelir Vergisinden Muaf Mı</label>
                                                            <div class="col-md-10 col-xs-8">
                                                                @(item.GvDenMuafmi == 1 ? "Evet" : "Hayır")
                                                            </div>
                                                        </div>
                                                        @if (item.AsgariGecimIndirimi.HasValue)
                                                        {
                                                            <div class="form-group">
                                                                <label class="col-md-2 col-xs-4 control-label">Asgari Geçim İndirimi</label>
                                                                <div class="col-md-10 col-xs-8">
                                                                    @item.AsgariGecimIndirimi.Value.ToString("n2")
                                                                </div>
                                                            </div>
                                                        }
                                                        @if (item.GvMatrahi.HasValue)
                                                        {
                                                            <div class="form-group">
                                                                <label class="col-md-2 col-xs-4 control-label">Döneme Ait Gelir Vergisi Matrahı</label>
                                                                <div class="col-md-10 col-xs-8">
                                                                    @item.GvMatrahi.Value.ToString("n2")
                                                                </div>
                                                            </div>
                                                        }
                                                        @if (item.GvEngellilikOrani.HasValue)
                                                        {<div class="form-group">
                                                                <label class="col-md-2 col-xs-4 control-label">Gelir Vergisi Engellilik Oranı</label>
                                                                <div class="col-md-10 col-xs-8">
                                                                    @item.GvEngellilikOrani
                                                                </div>
                                                            </div>
                                                        }
                                                        @if (item.HesaplananGv.HasValue)
                                                        {
                                                            <div class="form-group">
                                                                <label class="col-md-2 col-xs-4 control-label">Hesaplanan Gelir Vergisi</label>
                                                                <div class="col-md-10 col-xs-8">
                                                                    @item.HesaplananGv.Value.ToString("n2")
                                                                </div>
                                                            </div>
                                                        }
                                                        @if (item.AsgariGecimIstisnaGvTutar.HasValue)
                                                        {
                                                            <div class="form-group">
                                                                <label class="col-md-2 col-xs-4 control-label">Asgari Ücret İstisna Gelir V. Tutarı</label>
                                                                <div class="col-md-10 col-xs-8">
                                                                    @item.AsgariGecimIstisnaGvTutar.Value.ToString("n2")
                                                                </div>
                                                            </div>
                                                        }

                                                        @if (item.GvKesinti.HasValue)
                                                        {
                                                            <div class="form-group">
                                                                <label class="col-md-2 col-xs-4 control-label">Gelir Vergisi Kesintisi</label>
                                                                <div class="col-md-10 col-xs-8">
                                                                    @item.GvKesinti.Value.ToString("n2")
                                                                </div>
                                                            </div>
                                                        }
                                                        @if (item.AsgariGecimIstisnaDvTutar.HasValue)
                                                        {
                                                            <div class="form-group">
                                                                <label class="col-md-2 col-xs-4 control-label">Asgari Ücret İstisna Damga V. Tutarı</label>
                                                                <div class="col-md-10 col-xs-8">
                                                                    @item.AsgariGecimIstisnaDvTutar.Value.ToString("n2")
                                                                </div>
                                                            </div>
                                                        }
                                                        @if (item.DvKesintisi.HasValue)
                                                        {
                                                            <div class="form-group">
                                                                <label class="col-md-2 col-xs-4 control-label">Damga Vergisi Kesintisi</label>
                                                                <div class="col-md-10 col-xs-8">
                                                                    @item.DvKesintisi.Value.ToString("n2")
                                                                </div>
                                                            </div>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="6" style="text-align: center;">
                                        [ Listelenen Kayıt Yok ]
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
                <div class="panel-footer">
                    @Model.ToPagerString()
                </div>
            </div>
        </div>
    }
</div>
<script type="text/javascript">
    function ShowDetail(id) {
        var sndr = $('#iShow_' + id);
        var cls = 'cls-' + id;
        var unTogled = ($('.' + cls).hasClass("hide"));
        toggleByClass(sndr, cls, unTogled);

    }

</script>
