@using Database;
@using WebApp.Models;
@using BiskaUtil;
@model YevmiyelerKdvKodlari
@{
    var MmMessage = ViewBag.MmMessage as MmMessage;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <form method="post" class="form-horizontal" role="form">
        <input type="text" style="display:none;" id="YevmiyeKdvKodID" name="YevmiyeKdvKodID" value="@Model.YevmiyeKdvKodID" />
        <div class="col-md-12 col-md-12 col-md-12">
            <div class="panel panel-default" id="pUnvanK">
                <div class="panel-heading padding-0">
                    <h3 class="panel-title"><i class="fa fa-pencil"></i>&nbsp;@(Model.YevmiyeKdvKodID <= 0 ? "Yeni Kdv Tanımlama İşlemi" : "Kdv Bilgisi Düzeltme İşlemi") </h3>
                    <ul class="panel-controls">
                        <li><a href="@Url.Action("Kayit", Model.YevmiyeKdvKodID)" class=""><span class="fa fa-refresh panel-refresh"></span></a></li>
                    </ul>
                </div>
                <div class="panel-body">
                    <div class="panel panel-default form-horizontal">
                        <div class="panel-body form-group-separated">
                            <div class="form-group">
                                <label class="col-md-3 col-xs-4 control-label">Kdv Kodu</label>
                                <div class="col-md-9 col-xs-8">
                                    <input type="text" name="KdvKodu" id="KdvKodu" maxlength="32" value="@Model.KdvKodu" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 col-xs-4 control-label">Kdv Adı</label>
                                <div class="col-md-9 col-xs-8">
                                    <input type="text" name="KdvAdi" id="KdvAdi" maxlength="256" value="@Model.KdvAdi" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 col-xs-4 control-label">Kdv Oranı</label>
                                <div class="col-md-9 col-xs-8">
                                     <input type="text"  name="KdvOrani" id="KdvOrani" maxlength="64" value="@Model.KdvOrani"   class="form-control" /> 
                                       

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <a href="@Url.Action("Index")" class="btn btn-default"><i class="fa fa-reply">&nbsp</i>Geri Dön</a>
                    <button class="btn btn-primary pull-right"><i class="fa fa-save">&nbsp</i>Kaydet</button>
                </div>
            </div>
        </div>
    </form>
</div>
<script>

    $(function () {
        var model = '@Html.Raw(Json.Encode(MmMessage))';
        validateControl(model);
    });

</script>

