@using WebApp.Models
@using BiskaUtil
@model FmYevmiyeler
@{
    var IndexModel = (MIndexBilgi)ViewBag.IndexModel;
    var KayitYetkisi = RoleNames.YevmiyelerKayitYetkisi.InRole();
    var ExcelYuklemeYetki = RoleNames.YevmiyelerExcelYukleme.InRole();
    Layout = "~/Views/Shared/_Layout.cshtml";
    var SelectName = (string)ViewBag.SelectName;
}



<div class="row">
    @using (Html.BeginForm("Index", "Yevmiyeler", FormMethod.Post, new { id = "frmYevmiyeler" }))
    {
        <div class="col-md-12">

            @Html.Hidden("export", false)
            <!-- START SIMPLE DATATABLE -->
            <div class="panel panel-info @(Model.Expand ? "" : "panel-toggled")" id="pnlFltr">
                <input class="hide" name="Expand" value="@Model.Expand.ToString().ToLower()" id="Expand" />
                <div class="panel-heading padding-0">
                    <h3 class="panel-title">
                        <i class="glyphicon glyphicon-filter"></i> Filtre İşlemi
                    </h3>
                    <ul class="panel-controls">
                        @if (true)
                        {
                            <li>
                                <span class="label label-success" style="cursor:pointer;" onclick="MExcelYukle()"> <img src="/Content/img/Excel-Icon.png" width="18" height="17"> Excel'den Maaş Dönüştür</span>
                                <script>

                                    function MExcelYukle() {
                                        var _anaPnl = $('#pnlFltr');
                                        _pRefresh(_anaPnl, false);
                                        $.ajax({
                                            url: '@Url.Action("MaasExcelYukle", "Yevmiyeler")',
                                            type: 'POST',
                                            cache: false,
                                            success: function (resultPv) {
                                                _pRefresh(_anaPnl, true);
                                                    var btbxxFS = bootbox.dialog({
                                                        message: resultPv,
                                                        title: "Excel'den Yevmiye yükleme işlemi",
                                                        buttons: {
                                                            success: {
                                                                label: 'Yükle',
                                                                className: "btn-primary",
                                                                callback: function (event) {
                                                                    var pnlx = $(btbxxFS).find('.modal-dialog').first();
                                                                    var saveOk = true;
                                                                    if (saveOk) {
                                                                        _pRefresh(pnlx, false);
                                                                        $('#FrmMaasExcelYuklePost').ajaxForm({
                                                                            success: function (result) {
                                                                                _pRefresh(pnlx, true);
                                                                                getMsg(result);
                                                                                if (result.IsSuccess) {
                                                                                    setTimeout(function () {
                                                                                        var _clsBtn = $('.modal-header').find('button').first();
                                                                                        $(_clsBtn).click();
                                                                                    }, 3400)
                                                                                }
                                                                                else {
                                                                                    return false;
                                                                                }
                                                                            },
                                                                            complete: function (cmp) {
                                                                                _pRefresh(pnlx, true);
                                                                            },
                                                                            error: function (err) {
                                                                                _pRefresh(pnlx, true);
                                                                            }

                                                                        });
                                                                        $('#FrmMaasExcelYuklePost').submit();
                                                                    }
                                                                    return false;
                                                                }
                                                            },
                                                            danger: {
                                                                label: 'Kapat',
                                                                className: "btn-success",
                                                                callback: function () {
                                                                }
                                                            }
                                                        }
                                                    });

                                            },
                                            error: function (err) {
                                                _pRefresh(_anaPnl, true);
                                                alert(err.responseText);
                                            }
                                        });
                                    };

                                </script>

                            </li>
                        }
                        <li><a href="javasctipr:void(0)" onclick="$('#Expand').val(($('#pnlFltr').hasClass('panel-toggled') ? 'true' :'false' )); " class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
                    </ul>
                </div>
                <div class="panel-body" style="padding-bottom:0px;">
                    <table>
                        <tr>
                            <td style="vertical-align:top;">
                                <table class="table table-hover" style="table-layout:fixed;">

                                    <tr>
                                        <td>
                                            <table style="width:100%;table-layout:fixed;">
                                                <tr>
                                                    <td width="120">Yıl / Tarih Aralığı</td>
                                                    <td>@Html.DropDownList("Yil", null, new { @class = "form-control", onchange = "$('#frmYevmiyeler').submit();", id = "Yil_" })</td>
                                                    <td width="220">
                                                        <table>
                                                            <tr>
                                                                <td>
                                                                    <input name="BaslangicTarihi" id="BaslangicTarihi" class="form-control" type="text" autocomplete="off" placeholder="Baş Ör: @DateTime.Now.AddDays(-30).ToFormatDate()" onkeypress="if (event.which == 13) { $('#frmYevmiyeler').submit(); }" value="@Model.BaslangicTarihi.ToFormatDate()" />

                                                                </td>
                                                                <td>
                                                                    <input name="BitisTarihi" id="BitisTarihi" class="form-control" type="text" autocomplete="off" placeholder="Bit Ör: @DateTime.Now.ToFormatDate()" onkeypress="if (event.which == 13) { $('#frmYevmiyeler').submit(); }" value="@Model.BitisTarihi.ToFormatDate()" />
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <table style="width:100%;table-layout:fixed;">
                                                <tr>
                                                    <td width="120">Hesap Kod Türü</td>
                                                    <td>@Html.DropDownList("YevmiyeHesapKodTurID", null, new { @class = "form-control", style = "padding:0px;", onchange = "$('#frmYevmiyeler').submit();", id = "YevmiyeHesapKodTurID_" })</td>
                                                    <td class="@(Model.YevmiyeHesapKodTurID == HesapKoduTuru.VergiTevkifatHesapKodlari1003A ? "" : "hide")">
                                                        <table style="width:100%;">
                                                            <tr>
                                                                <td width="100">22-31 Gelir Kaydı</td>
                                                                <td>
                                                                    @*<select class="form-control" onchange="$('#frmYevmiyeler').submit();" name="GelirKaydiOlacak" id="GelirKaydiOlacak_">
                                                                            <option></option>
                                                                            <option value="true" @Model.GelirKaydiOlacak.ToSelected()>Evet</option>
                                                                            <option value="false" @((!Model.GelirKaydiOlacak).ToSelected())>Hayır</option>
                                                                        </select>*@
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    @if (Model.YevmiyeHesapKodTurID.HasValue && SelectName != "")
                                    {
                                        <tr>
                                            <td>
                                                <table style="width:100%;table-layout:fixed;">
                                                    <tr>
                                                        <td width="120">Kayıt Durumu</td>
                                                        <td colspan="2">
                                                            @Html.DropDownList(SelectName, null, new { @class = "form-control", style = "padding:0px;", onchange = "$('#frmYevmiyeler').submit();" })
                                                        </td>

                                                    </tr>
                                                    @if (Model.YevmiyeHesapKodTurID == HesapKoduTuru.SSKPrimHesapKodlari1003B || Model.YevmiyeHesapKodTurID == HesapKoduTuru.KDVTevkifatHesapKodlari)
                                                    {
                                                        <tr>
                                                            <td width="120">Fatura Yıl / Ay</td>
                                                            <td>
                                                                @Html.DropDownList("FYil", null, new { @class = "form-control", style = "padding:0px;", onchange = "$('#frmYevmiyeler').submit();" })

                                                            </td>
                                                            <td> @Html.DropDownList("FAyID", null, new { @class = "form-control", style = "padding:0px;", onchange = "$('#frmYevmiyeler').submit();" })</td>
                                                        </tr>
                                                    }
                                                </table>
                                            </td>
                                        </tr>
                                    }

                                </table>
                            </td>
                            <td style="vertical-align:top;">
                                <table class="table table-hover" style="table-layout:fixed;">

                                    <tr>
                                        <td>
                                            <table style="width:100%;table-layout:fixed;">
                                                <tr>
                                                    <td width="160">Birim</td>
                                                    <td>@Html.DropDownList("YevmiyeHarcamaBirimID", null, new { @class = "form-control", style = "padding:0px;", onchange = "$('#frmYevmiyeler').submit();", id = "YevmiyeHarcamaBirimID_" })</td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <table style="width:100%;table-layout:fixed;">
                                                <tr>
                                                    <td width="160">Yevmiye No / Hesap Kodu</td>
                                                    <td>
                                                        <input name="YevmiyeNo" id="YevmiyeNo" type="text" onkeypress="if (event.which == 13) { $('#frmYevmiyeler').submit(); }" value="@Model.YevmiyeNo" class="form-control" />
                                                        @if (Model.YevmiyeNo.HasValue)
                                                        {
                                                            <script>
                                                                $(function () {
                                                                    SetCaretAtEnd(document.getElementById('YevmiyeNo'));
                                                                });

                                                            </script>
                                                        }
                                                    </td>
                                                    <td>
                                                        <input name="HesapKod" id="HesapKod" type="text" onkeypress="if (event.which == 13) { $('#frmYevmiyeler').submit(); }" value="@Model.HesapKod" class="form-control" />
                                                        @if (Model.HesapKod.IsNullOrEmpty() == false)
                                                        {
                                                            <script>
                                                                $(function () {
                                                                    SetCaretAtEnd(document.getElementById('HesapKod'));
                                                                });

                                                            </script>
                                                        }
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <table style="width:100%;table-layout:fixed;">
                                                <tr>
                                                    <td width="160">Açıklama</td>
                                                    <td>
                                                        <table style="width:100%;table-layout:fixed;">
                                                            <tr>
                                                                <td><input name="Aciklama" id="Aciklama" type="text" onkeypress="if (event.which == 13) { $('#frmYevmiyeler').submit(); }" value="@Model.Aciklama" class="form-control" /></td>
                                                                <td width="110px;"><a href="javascript:void(0);" onclick="$('#frmYevmiyeler').submit();" class="btn btn-info"><i class="glyphicon glyphicon-filter"> Filtrele</i></a></td>
                                                            </tr>
                                                        </table>
                                                        @if (Model.Aciklama.IsNullOrEmpty() == false)
                                                        {
                                                            <script>
                                                                $(function () {
                                                                    SetCaretAtEnd(document.getElementById('Aciklama'));
                                                                });

                                                            </script>
                                                        }
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>

                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="panel panel-danger" id="pnlDetay">
                <div class="panel-heading padding-0">
                    <h3 class="panel-title"><i class="fa fa-file-text-o fa-lg"></i>&nbsp; Yevmiyeler</h3>
                    <ul class="panel-controls">

                        @if (ExcelYuklemeYetki && Model.Yil.HasValue)
                        {
                            <li>
                                <span class="label label-success" style="cursor:pointer;" onclick="ExcelYukle()"> <img src="/Content/img/Excel-Icon.png" width="18" height="17"> Excel'den Yevmiye Yükle</span>
                                <script>


                                    function ExcelYukle() {
                                        var _anaPnl = $('#pnlDetay');
                                        _pRefresh(_anaPnl, false);
                                        $.ajax({
                                            url: '@Url.Action("GetExcelYukle", "Yevmiyeler")',
                                            data: { 'Yil': @Model.Yil },
                                            type: 'POST',
                                            cache: false,
                                            success: function (result) {
                                                _pRefresh(_anaPnl, true);

                                                    var btbxxFS = bootbox.dialog({
                                                        message: result.page,
                                                        title: "Excel'den Yevmiye yükleme işlemi",
                                                        buttons: {
                                                            success: {
                                                                label: 'Yükle',
                                                                className: "btn-primary",
                                                                callback: function (event) {
                                                                    var pnlx = $(btbxxFS).find('.modal-dialog').first();
                                                                    var saveOk = true;
                                                                    if (saveOk) {
                                                                        _pRefresh(pnlx, false);
                                                                        $('#ExcelYuklePostForm').ajaxForm({
                                                                            success: function (result) {
                                                                                _pRefresh(pnlx, true);
                                                                                getMsg(result);
                                                                                if (result.IsSuccess) {
                                                                                    setTimeout(function () {
                                                                                        var _clsBtn = $('.modal-header').find('button').first();
                                                                                        $(_clsBtn).click();
                                                                                        $('#frmYevmiyeler').submit();
                                                                                    }, 3400)
                                                                                }
                                                                                else {
                                                                                    return false;
                                                                                }
                                                                            },
                                                                            complete: function (cmp) {
                                                                                _pRefresh(pnlx, true);
                                                                            },
                                                                            error: function (err) {
                                                                                _pRefresh(pnlx, true);
                                                                            }

                                                                        });
                                                                        $('#ExcelYuklePostForm').submit();
                                                                    }
                                                                    return false;
                                                                }
                                                            },
                                                            danger: {
                                                                label: 'Kapat',
                                                                className: "btn-success",
                                                                callback: function () {
                                                                }
                                                            }
                                                        }
                                                    });

                                            },
                                            error: function (err) {
                                                _pRefresh(_anaPnl, true);
                                                alert(err.responseText);
                                            }
                                        });
                                    };

                                </script>

                            </li>
                        }
                    </ul>
                </div>
                <div class="panel-body">
                    <table class="table table-hover" style="width:100%;table-layout:fixed;">
                        <thead>
                            <tr>
                                <th width="75" class="sirala sorting" field="BirimAdi"></th>
                                <th width="120">Yevmiye Tarih</th>
                                <th class="sirala sorting" field="BirimAdi">Harcama Birim</th>
                                <th>Hesap Kod/Ad</th>
                                <th width="140" style="text-align:right;">Borç</th>
                                <th width="140" style="text-align:right;">Alacak</th>
                                <th style="padding-left:15px;">Açıklama</th>

                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.RowCount > 0)
                            {
                                int RowIndex = Model.StartRowIndex;
                                foreach (var item in Model.Data)
                                {
                                    var ClassRow = "";
                                    if (Model.YevmiyeHesapKodTurID==HesapKoduTuru.SSKPrimHesapKodlari1003B)
                                    {
                                        ClassRow = item.IsY1003BVeriGirisiTamamlandi == true?"success":"danger";
                                    }
                                    else if (Model.YevmiyeHesapKodTurID == HesapKoduTuru.VergiTevkifatHesapKodlari1003A)
                                    {
                                        ClassRow = item.Is1003AHesaplamayaGirecek == true ? "success" : "danger";
                                    }
                                    else if (Model.YevmiyeHesapKodTurID == HesapKoduTuru.KDVTevkifatHesapKodlari)
                                    {
                                        ClassRow = item.IsKdvTevkifatVeriGirisiTamamlandi == true ? "success" : "danger";
                                    }
                                    else if (Model.YevmiyeHesapKodTurID == HesapKoduTuru.EmekliKesintiHesapKodlari)
                                    {
                                        ClassRow = item.IsEKHarcamaBirimiDegisti == true ? "success" : "danger";
                                    }
                                    else if (Model.YevmiyeHesapKodTurID == HesapKoduTuru.TasinirKontrolHesapKodlari)
                                    {
                                        ClassRow = item.IsTifVeriGirisiTamamlandi == true ? "success" : "danger";
                                    }
                                    else if (Model.YevmiyeHesapKodTurID == HesapKoduTuru.BireyselEmeklilikHesapKodlari)
                                    {
                                        ClassRow = item.IsBesBilgisiDegisti == true ? "success" : "danger";
                                    }
                                    else if (Model.YevmiyeHesapKodTurID == HesapKoduTuru.SendikaIslemleriHesapKodlari)
                                    {
                                        ClassRow = item.IsSendikaBilgisiDegisti == true ? "success" : "danger";
                                    }
                                    else if (Model.YevmiyeHesapKodTurID == HesapKoduTuru.BankaIslemleriHesapKodlari)
                                    {
                                        ClassRow = item.IsBankaHesapNumarasiGirildi == true ? "success" : "danger";
                                    }

                                    RowIndex++;
                                    <tr class="@ClassRow">
                                        <td>
                                            <table>
                                                <tr>
                                                    <td style="width:30px;">@RowIndex</td>
                                                    <td>
                                                        <ul class="panel-controls">
                                                            <li id="iShow_@item.YevmiyeID" onclick="ShowDetail(@item.YevmiyeID)">
                                                                <a href="javascript:void(0)"><span class="fa fa-angle-up"></span> </a>
                                                            </li>
                                                        </ul>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td>
                                            @item.YevmiyeTarih.ToDateString()
                                            <br /><b>Yevmiye No:</b> @item.YevmiyeNo
                                        </td>
                                        <td>
                                            @item.HarcamaBirimAdi<br />
                                            <b title="Vergi Kimlik No">VKN:</b> @item.VergiKimlikNo <b title="harcama Birim Kodu">H.B.K:</b> @item.HarcamaBirimKod

                                        </td>
                                        <td>
                                            @item.HesapKod
                                            <br />@item.HesapAdi
                                        </td>
                                        <td style="text-align:right;">@item.Borc.ToString("n2") TL</td>
                                        <td style="text-align:right;">@item.Alacak.ToString("n2") TL</td>
                                        <td style="padding-left:15px;" title="@item.Aciklama">@(item.Aciklama.Length > 200 ? item.Aciklama.Substring(0, 200) : item.Aciklama)</td>

                                    </tr>
                                    <tr class="cls-@item.YevmiyeID hide">
                                        <td colspan="7" style="padding: 1px 1px 2px 75px;">
                                            <div id="yevmiyeDetayPanel_@item.YevmiyeID">
                                                <div id="cls-@item.YevmiyeID">

                                                </div>
                                            </div>
                                        </td>
                                    </tr>

                                }
                                <tr class="info">
                                    <td colspan="5" style="text-align:right;font-weight:bold;">@Model.BorcToplam.ToString("n2") TL</td>
                                    <td style="text-align:right;font-weight:bold;">@Model.AlacakToplam.ToString("n2") TL</td>
                                    <td style="font-weight:bold;padding-left:15px;">@Model.KalanToplam.ToString("n2") TL</td>
                                </tr>
                            }
                            else
                            {
                                <tr>
                                    <td colspan="7" style="text-align: center;">
                                        [ Listelenen Kayıt Yok ]
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
                <div class="panel-footer">
                    @Model.ToPagerString()
                </div>
            </div>
        </div>
    }
</div>
<script type="text/javascript">
    function ShowDetail(id) {
        var sndr = $('#iShow_' + id);
        var cls = 'cls-' + id;
        var unTogled = ($('.' + cls).hasClass("hide"));
        toggleByClass(sndr, cls, unTogled);
        if (unTogled) GetDetail(id);

    }
    function GetDetail(id) {
         SubData(id,true);
    }
    function SubData(id) {
        var _panel = $('#yevmiyeDetayPanel_' + id);
        _pRefresh(_panel, false);
         $.ajax({
            url: '@Url.Action("GetDetail", "Yevmiyeler")',
            data: { id: id },
            async: false,
             success: function (result) {
                _pRefresh(_panel, true);
                    $('#yevmiyeDetayPanel_' + id).html(result);
             },
            error: function (err) {
                _pRefresh(_panel, true);
                alert(err.responseText);
            }
        });
    }
</script>
@if (KayitYetkisi)
{
    <script>
         function YevmiyeAyristir(YevmiyeID, Yevmiye1003BAyristirmaID) {
        var _panel = $('#yevmiyeDetayPanel_' + YevmiyeID);
        _pRefresh(_panel, false);
        $.ajax({
            url: '@Url.Action("YevmiyeAyristir", "Yevmiyeler")',
            data: { YevmiyeID, Yevmiye1003BAyristirmaID },
            async: false,
            success: function (result) {
                _pRefresh(_panel, false);
                var btbxxFS = bootbox.dialog({
                    message: result,
                    title: "<i class='fa fa-user-o fa-lg'></i> " + (Yevmiye1003BAyristirmaID == null ? 'Yeni Yevmiye Ayrıştırma İşlemi' : 'Yevmiye Ayrıştırma Güncelleme İşlemi'),
                    buttons: {
                        success: {
                            label: 'Kaydet',
                            className: "btn-success",
                            callback: function (event) {
                                var pnlx = $(btbxxFS).find('.modal-dialog').first();
                                _pRefresh(pnlx, false);
                                $('#frmYevmiyeKayit').ajaxForm({
                                    success: function (result) {
                                        if (result.IsSuccess) {
                                            toastr["success"](result.Messages[0], result.Title);
                                            var _clsBtn = $('.modal-header').find('button').first();
                                            $(_clsBtn).click();
                                            SubData(YevmiyeID);
                                        }
                                        else {
                                            getMsg(result);
                                            return false;
                                        }
                                        _pRefresh(pnlx, true);

                                    },
                                    complete: function (cmp) {
                                        _pRefresh(pnlx, true);
                                    },
                                    error: function (err) {
                                        _pRefresh(pnlx, true);
                                    }

                                }).submit();

                                return false;
                            }
                        },
                        danger: {
                            label: 'Kapat',
                            className: "btn-primary",
                            callback: function () {
                            }
                        }
                    }
                });
            },
            error: function (err) {
                _pRefresh(_panel, true);
                alert(err.responseText);
            }
        });
    }
    function YevmiyeAyristirSil(id) {
        var BirimAdi = $("#tdAyrUniAdi_" + id).html();
        var SoruHtml = "<table style='table-layout:fixed;width:100%;'>" +
            "<tr><td width='30' style='padding-left:10px;'></td><td style='padding-right:10px;'>" + (BirimAdi)+"</td></tr>"+
            "<tr><td width='30' style='color:maroon;padding-left:10px;'><i class='fa fa-info fa-2x'></i></td><td style='color:maroon;padding-right:10px;'>Seçilen Harcama Birimine Ait Yevmiye Ayrıştırma kaydını Silmek İstiyor Musunuz?</td></tr>" +
            "</table>";
        bootbox.dialog({
            message:   SoruHtml,
            title: "Yevmiye Ayrıştırma Kaydı Silme İşlemi",
            buttons: {
                success: {
                    label: "Yevmiye Ayrıştırma Kaydını Sil",
                    className: "btn-danger",
                    callback: function () {
                        $.ajax({
                            url: '@Url.Action("YevmiyeAyristirSil", "Yevmiyeler")',
                            data: { id: id },
                            success: function (result) {
                                toastr[result.success ? "success" : "error"](result.message, "Yevmiye Ayrıştırma Kaydı Silme İşlemi")
                                if (result.success) {
                                    SubData(YevmiyeID);
                                }

                            },
                            error: function (err) {
                                alert(err.responseText);
                            }
                        });
                    }
                },
                danger: {
                    label: "Vazgeç",
                    className: "btn-success",
                    callback: function () {
                    }
                }
            }
        });
    }
    function GelirKaydiOlustur(YevmiyeID) {
        var _panel = $('#Wg1003AKayitPanel_' + YevmiyeID);
        _pRefresh(_panel, false);
        $('#frmYevmiyeKayit_' + YevmiyeID).ajaxForm({
            success: function (result) {
                _pRefresh(_panel, true);
                if (result.IsSuccess) {
                    toastr["success"](result.Messages[0], result.Title);
                    var _clsBtn = $('.modal-header').find('button').first();
                    $(_clsBtn).click();
                    SubData(YevmiyeID);
                }
                else {
                    getMsg(result);
                    return false;
                }
                _pRefresh(_panel, true);

            },
            error: function (err) {
                _pRefresh(_panel, true);
            }

        }).submit();
    }
    function YevmiyeKdvTevkifatKayit(YevmiyeID, YevmiyeKdvTevkifatKayitID) {
        var _panel = $('#WdVergiKaydipanel_' + YevmiyeID);
        _pRefresh(_panel, false);
        $.ajax({
            url: '@Url.Action("YevmiyeKdvTevkifatKayit", "Yevmiyeler")',
            data: { YevmiyeID, YevmiyeKdvTevkifatKayitID },
            async: false,
            success: function (result) {
                _pRefresh(_panel, false);
                var btbxxFS = bootbox.dialog({
                    message: result,
                    title: "<i class='fa fa-user-o fa-lg'></i> " + (YevmiyeKdvTevkifatKayitID == null ? 'Yeni Yevmiye Kdv Tevkifat Kayıt İşlemi' : 'Yevmiye Kdv Tevkifat Güncelleme İşlemi'),
                    buttons: {
                        success: {
                            label: 'Kaydet',
                            className: "btn-success",
                            callback: function (event) {
                                var pnlx = $(btbxxFS).find('.modal-dialog').first();
                                _pRefresh(pnlx, false);
                                $('#frmKdvTevkifatKayit').ajaxForm({
                                    success: function (result) {
                                        if (result.IsSuccess) {
                                            toastr["success"](result.Messages[0], result.Title);
                                            var _clsBtn = $('.modal-header').find('button').first();
                                            $(_clsBtn).click();
                                            SubData(YevmiyeID);
                                        }
                                        else {
                                            getMsg(result);
                                            return false;
                                        }
                                        _pRefresh(pnlx, true);

                                    },
                                    complete: function (cmp) {
                                        _pRefresh(pnlx, true);
                                    },
                                    error: function (err) {
                                        _pRefresh(pnlx, true);
                                    }

                                }).submit();

                                return false;
                            }
                        },
                        danger: {
                            label: 'Kapat',
                            className: "btn-primary",
                            callback: function () {
                            }
                        }
                    }
                });
            },
            error: function (err) {
                _pRefresh(_panel, true);
                alert(err.responseText);
            }
        });
    }
    function YevmiyeKdvTevkifatKayitSil(id) {
        var Vkn = $("#tdTefVkn_" + id).html();
        var AdSoyad = $("#tdTefAd_" + id).html();
        var SoruHtml = "<table style='table-layout:fixed;width:100%;'>" +
            "<tr><td width='30' style='padding-left:10px;'></td><td style='padding-right:10px;'>" + (Vkn + ' - ' + AdSoyad)+"</td></tr>"+
            "<tr><td width='30' style='color:maroon;padding-left:10px;'><i class='fa fa-info fa-2x'></i></td><td style='color:maroon;padding-right:10px;'>Seçilen Kdv Tevkifat Kaydını Silmek İstiyor Musunuz?</td></tr>" +
            "</table>";
        bootbox.dialog({
            message:   SoruHtml,
            title: "Kdv Tevkifat kaydı Silme İşlemi",
            buttons: {
                success: {
                    label: "Kdv Tevkifat Sil",
                    className: "btn-danger",
                    callback: function () {
                        $.ajax({
                            url: '@Url.Action("YevmiyeKdvTevkifatKayitSil", "Yevmiyeler")',
                            data: { id: id },
                            success: function (result) {
                                toastr[result.success ? "success" : "error"](result.message, "Kdv Tevkifat kaydı Silme İşlemi")
                                if (result.success) {
                                    $(sndr).closest("tr").remove();
                                    // $(".cls-" + id).remove();
                                }

                            },
                            error: function (err) {
                                alert(err.responseText);
                            }
                        });
                    }
                },
                danger: {
                    label: "Vazgeç",
                    className: "btn-success",
                    callback: function () {
                    }
                }
            }
        });
    }
    function YevmiyeEKHarcamaBirimKayit(YevmiyeID) {
        var _panel = $('#WgEmekliKesenekPanel_' + YevmiyeID);
        _pRefresh(_panel, false);

        $('#frmYevmiyeEKHarcamaBirimKayit_' + YevmiyeID).ajaxForm({
            success: function (result) {
                _pRefresh(_panel, true);
                if (result.IsSuccess) {
                    toastr["success"](result.Messages[0], result.Title);
                    var _clsBtn = $('.modal-header').find('button').first();
                    $(_clsBtn).click();
                    SubData(YevmiyeID);
                }
                else {
                    getMsg(result);
                    return false;
                }

            },
            complete: function (cmp) {
                _pRefresh(_panel, true);
            },
            error: function (err) {
                _pRefresh(_panel, true);
            }

        }).submit();
    }
    function YevmiyeTasinirkontrolTifKayit(YevmiyeID, YevmiyelerTasinirKontrolTifKayitID) {
        var _panel = $('#yevmiyeDetayPanel_' + YevmiyeID);
        _pRefresh(_panel, false);
        $.ajax({
            url: '@Url.Action("YevmiyeTasinirkontrolTifKayit", "Yevmiyeler")',
            data: { YevmiyeID, YevmiyelerTasinirKontrolTifKayitID },
            async: false,
            success: function (result) {
                _pRefresh(_panel, false);
                var btbxxFS = bootbox.dialog({
                    message: result,
                    title: "<i class='fa fa-user-o fa-lg'></i> " + (YevmiyelerTasinirKontrolTifKayitID == null ? 'Yeni Tif Kayıt İşlemi' : 'Tif Güncelleme İşlemi'),
                    buttons: {
                        success: {
                            label: 'Kaydet',
                            className: "btn-success",
                            callback: function (event) {
                                var pnlx = $(btbxxFS).find('.modal-dialog').first();
                                _pRefresh(pnlx, false);
                                $('#frmyevmiyeTifKayit').ajaxForm({
                                    success: function (result) {
                                        if (result.IsSuccess) {
                                            toastr["success"](result.Messages[0], result.Title);
                                            var _clsBtn = $('.modal-header').find('button').first();
                                            $(_clsBtn).click();
                                            SubData(YevmiyeID);
                                        }
                                        else {
                                            getMsg(result);
                                            return false;
                                        }
                                        _pRefresh(pnlx, true);

                                    },
                                    complete: function (cmp) {
                                        _pRefresh(pnlx, true);
                                    },
                                    error: function (err) {
                                        _pRefresh(pnlx, true);
                                    }

                                }).submit();

                                return false;
                            }
                        },
                        danger: {
                            label: 'Kapat',
                            className: "btn-primary",
                            callback: function () {
                            }
                        }
                    }
                });
            },
            error: function (err) {
                _pRefresh(_panel, true);
                alert(err.responseText);
            }
        });
    }
    function YevmiyeTasinirkontrolTifKayitSil(id) {
         var TifNo = $("#tdTfNo_" + id).html();
         var TifAck = $("#tdTfAc_" + id).html();
        var SoruHtml = "<table style='table-layout:fixed;width:100%;'>" +
            "<tr><td width='30' style='padding-left:10px;'></td><td style='padding-right:10px;'>" + (TifNo + ' - ' + TifAck)+"</td></tr>"+
            "<tr><td width='30' style='color:maroon;padding-left:10px;'><i class='fa fa-info fa-2x'></i></td><td style='color:maroon;padding-right:10px;'>Seçilen Taşınır Kontrol Tif Kaydını Silmek İstiyor Musunuz?</td></tr>" +
            "</table>";
        bootbox.dialog({
            message:   SoruHtml,
            title: "Taşınır Kontrol Tif kaydı Silme İşlemi",
            buttons: {
                success: {
                    label: "Tif kaydını Sil",
                    className: "btn-danger",
                    callback: function () {
                        $.ajax({
                            url: '@Url.Action("YevmiyeTasinirkontrolTifKayitSil", "Yevmiyeler")',
                            data: { id: id },
                            success: function (result) {
                                toastr[result.success ? "success" : "error"](result.message, "Taşınır Kontrol Tif kaydı Silme İşlemi")
                                if (result.success) {
                                    $(sndr).closest("tr").remove();
                                    // $(".cls-" + id).remove();
                                }

                            },
                            error: function (err) {
                                alert(err.responseText);
                            }
                        });
                    }
                },
                danger: {
                    label: "Vazgeç",
                    className: "btn-success",
                    callback: function () {
                    }
                }
            }
        });
    }
    function YevmiyeBankaHesapNoKayit(YevmiyeID) {
        var _panel = $('#WgBankaPanel_' + YevmiyeID);
        _pRefresh(_panel, false);

        $('#frmYevmiyeBankaHesapNoKayit_' + YevmiyeID).ajaxForm({
            success: function (result) {
                _pRefresh(_panel, true);
                if (result.IsSuccess) {
                    toastr["success"](result.Messages[0], result.Title);
                    var _clsBtn = $('.modal-header').find('button').first();
                    $(_clsBtn).click();
                    SubData(YevmiyeID);
                }
                else {
                    getMsg(result);
                    return false;
                }

            },
            complete: function (cmp) {
                _pRefresh(_panel, true);
            },
            error: function (err) {
                _pRefresh(_panel, true);
            }

        }).submit();
    }
    function YevmiyeSendikaBilgisiKayit(YevmiyeID) {
        var _panel = $('#WgSendikaPanel_' + YevmiyeID);
        _pRefresh(_panel, false);
        $('#frmYevmiyeSendikaBilgisiKayit_' + YevmiyeID).ajaxForm({
            success: function (result) {
                _pRefresh(_panel, true);
                if (result.IsSuccess) {
                    toastr["success"](result.Messages[0], result.Title);
                    var _clsBtn = $('.modal-header').find('button').first();
                    $(_clsBtn).click();
                    SubData(YevmiyeID);
                }
                else {
                    getMsg(result);
                    return false;
                }

            },
            complete: function (cmp) {
                _pRefresh(_panel, true);
            },
            error: function (err) {
                _pRefresh(_panel, true);
            }

        }).submit();
    }
    function BesHesapKodKaydet(YevmiyeID) {
        var _panel = $('#WgBesPanel_' + YevmiyeID);
        _pRefresh(_panel, false);
        $('#frmBireyselEmeklilikKayit_' + YevmiyeID).ajaxForm({
            success: function (result) {
                _pRefresh(_panel, true);
                if (result.IsSuccess) {
                    toastr["success"](result.Messages[0], result.Title);
                    var _clsBtn = $('.modal-header').find('button').first();
                    $(_clsBtn).click();
                    SubData(YevmiyeID);
                }
                else {
                    getMsg(result);
                    return false;
                }

            },
            complete: function (cmp) {
                _pRefresh(_panel, true);
            },
            error: function (err) {
                _pRefresh(_panel, true);
            }

        }).submit();
    }
    </script>
}
