@using Database
@model Yevmiyeler1003BAyristirmalari
@{
    Layout = null;
}
@using (Ajax.BeginForm("YevmiyeAyristir", "Yevmiyeler", null, new AjaxOptions() { HttpMethod = "POST" }, new { enctype = "multipart/form-data", id = "frmYevmiyeKayit", @class = "form-horizontal" }))
{
    @Html.HiddenFor(h => h.YevmiyeID)
    @Html.HiddenFor(h => h.Yevmiyeler1003BAyristirmaID)
    <div class="col-md-12" style="overflow-x:auto; max-height:600px;">
        <div class="widget widget-default" style="border-top:1px solid;border-top-color:lightgray; margin-bottom:8px;padding:6px 10px;min-height:20px;">
            <table style="width:100%;">
                <tbody> 
                    <tr>
                        <td style="padding-left:10px;text-align:left;">
                            <table style="width:100%;">
                                <tbody>
                                    <tr>
                                        <td id="lbl_BirimID" width="140">Üniversite İşyeri Adı</td>
                                        <td width="10">:</td>
                                        <td class="form-group">
                                            @Html.DropDownList("BirimID", null, new { @class = "form-control" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td id="lbl_Yil">Yıl</td>
                                        <td>:</td>
                                        <td class="form-group">
                                            @Html.DropDownList("Yil", null, new { @class = "form-control" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td id="lbl_AyID">Ay</td>
                                        <td>:</td>
                                        <td class="form-group">
                                            @Html.DropDownList("AyID", null, new { @class = "form-control" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td id="lbl_YevmiyeBelgeKodID">Kullanıcı Tipi</td>
                                        <td>:</td>
                                        <td class="form-group">
                                            @Html.DropDownList("YevmiyeBelgeKodID", null, new { @class = "form-control" })

                                        </td>
                                    </tr>
                                    <tr>
                                        <td id="lbl_GelirVergisi">Gelir Vergisi</td>
                                        <td>:</td>
                                        <td class="form-group">
                                            @Html.TextBox("GelirVergisi", Model.GelirVergisi.ToString("n2"), new { @class = "form-control" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td id="lbl_DamgaVergisi">Damga Vergisi</td>
                                        <td>:</td>
                                        <td class="form-group">
                                            @Html.TextBox("DamgaVergisi", Model.GelirVergisi.ToString("n2"), new { @class = "form-control" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td id="lbl_Matrah">Matrah</td>
                                        <td>:</td>
                                        <td class="form-group">
                                            @Html.TextBox("Matrah", Model.GelirVergisi.ToString("n2"), new { @class = "form-control" })
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
}

