@using Database
@using WebApp.Models
@model YevmiyelerTasinirKontrolTifKaydi
@{
    Layout = null;
}
@using (Ajax.BeginForm("YevmiyeTasinirkontrolTifKayit", "Yevmiyeler", null, new AjaxOptions() { HttpMethod = "POST" }, new { enctype = "multipart/form-data", id = "frmyevmiyeTifKayit", @class = "form-horizontal" }))
{
    @Html.HiddenFor(h => h.YevmiyeID)
    @Html.HiddenFor(h => h.YevmiyelerTasinirKontrolTifKayitID)
    <div class="col-md-12" style="overflow-x:auto; max-height:600px;">
        <div class="widget widget-default" style="border-top:1px solid;border-top-color:lightgray; margin-bottom:8px;padding:6px 10px;min-height:20px;">
            <table style="width:100%;">
                <tbody>
                    <tr>
                        <td style="padding-left:10px;text-align:left;">
                            <table style="width:100%;">
                                <tbody>
                                    <tr>
                                        <td id="lbl_TifNo" width="140">Tif Numarası</td>
                                        <td width="10">:</td>
                                        <td class="form-group">
                                            @Html.TextBoxFor(p => p.TifNo, null, new { @class = "form-control", autocomplete="off" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td id="lbl_Tutar">Tutar</td>
                                        <td>:</td>
                                        <td class="form-group">
                                            @Html.TextBox("Tutar", Model.Tutar.ToEmptyStringZero(), new { @class = "form-control", autocomplete = "off" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td id="lbl_Aciklama">Açıklama</td>
                                        <td>:</td>
                                        <td class="form-group">
                                            @Html.TextAreaFor(p => p.Aciklama,5,1, new { @class = "form-control", style = "resize:vertical;", autocomplete = "off" })
                                        </td>
                                    </tr> 
                                   
                                </tbody>
                            </table> 
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
}

