@using Database;
@using WebApp.Models;
@using BiskaUtil;
@model YevmiyelerVergiKimlikNumaralari
@{
    var MmMessage = ViewBag.MmMessage as MmMessage;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <form method="post" class="form-horizontal" role="form">
        <input type="text" style="display:none;" id="YevmiyeVergiKimlikNoID" name="YevmiyeVergiKimlikNoID" value="@Model.YevmiyeVergiKimlikNoID" />
        <div class="col-md-12 col-md-12 col-md-12">
            <div class="panel panel-default" id="pUnvanK">
                <div class="panel-heading padding-0">
                    <h3 class="panel-title"><i class="fa fa-pencil"></i>&nbsp;@(Model.YevmiyeVergiKimlikNoID <= 0 ? "Yeni Vergi Kimlik Numarası Tanımlama İşlemi" : "Vergi Kimlik Numarası Düzeltme İşlemi") </h3>
                    
                </div>
                <div class="panel-body">
                    <div class="panel panel-default form-horizontal">
                        <div class="panel-body form-group-separated">
                            <div class="form-group">
                                <label class="col-md-3 col-xs-4 control-label">Vergi kimlik Numarası</label>
                                <div class="col-md-9 col-xs-8">
                                    <input type="text" name="VergiKimlikNo" id="VergiKimlikNo" maxlength="11" value="@Model.VergiKimlikNo" class="form-control" autocomplete="off"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 col-xs-4 control-label">Ad Soyad</label>
                                <div class="col-md-9 col-xs-8">
                                    <input type="text" name="AdSoyad" id="AdSoyad" maxlength="256" value="@Model.AdSoyad" class="form-control" autocomplete="off"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 col-xs-4 control-label">Adres</label>
                                <div class="col-md-9 col-xs-8">
                                    <input type="text" name="Adres" id="Adres"  value="@Model.Adres" class="form-control" autocomplete="off" />
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <a href="@Url.Action("Index")" class="btn btn-default"><i class="fa fa-reply">&nbsp</i>Geri Dön</a>
                    <button class="btn btn-primary pull-right"><i class="fa fa-save">&nbsp</i>Kaydet</button>
                </div>
            </div>
        </div>
    </form>
</div>
<script>

    $(function () {
        var model = '@Html.Raw(Json.Encode(MmMessage))';
        validateControl(model);
    });

</script>

